@model int

<div class="container row pt-1">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Siparisiniz Basarıyla Onaylandı!</h1>
        Sipariş Numaranız: : @Model <br /><br />
        <img src="~/images/pngegg.png" width="28%" />
    </div>
    <div class="col-12 fs-4 text-center" style="color:maroon">
        <br/>
        Siparişinizi Başarıyla Aldık!<br /> Bizi tercih ettiğiniz için Teşekkür ederiz! <br />
    </div>

</div> 