@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Ödeme Başarılı!</h1>
        Sipariş Numarası: @Model <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Ödeme başarıyla uygulandı! <br />
        <a asp-area="Admin"
           asp-controller="Order"
           asp-action="Details"
           asp-route-orderId="@Model" class="btn btn-primary">Sipariş Detaylarına Geri Dön</a>
    </div>

</div> 